# In a non development environment these would usually be the same
VITE_API_URL_CLIENT=https://localhost:8443/api
VITE_API_URL_SERVER=http://backend:80/api

VITE_FRONTEND_URL=https://localhost:8443
VITE_APP_NAME=Orbita Sports
VITE_APP_PRIMARY_COLOR=#ff6b00
VITE_APP_SECONDARY_COLOR=#101010
VITE_APP_FAVICON=/manifest-icons/favicon.svg
VITE_APP_LOGO_DARK=/logos/orbita-sports-stacked-light.svg
VITE_APP_LOGO_LIGHT=/logos/orbita-sports-text-dark.svg
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_51Ofu1CJKnXOyGeQuDPUHiZcJxZozRuERiv4vQRBtCscwTbxOL574cxUjAoNRL2YLCumgC5160pl6kvTIiAc9mOeM0058KAWQ55
