@use "mixins";

:root {
  --hi-text: #171717;
  --hi-primary: var(--mantine-color-primary-7);
  --hi-secondary:  #101010;
  --hi-secondary-text: #ff6b00;
  --hi-color-gray: #f5f3ef;
  --hi-color-gray-2: #e2e2e2;
  --hi-color-gray-dark: #838383;
  --hi-color-money-green: #00b894;
  --hi-color-blue: #ff8a3d;
  --hi-link-color: var(--hi-primary);
  --hi-pink: #ff8a3d;
  --hi-primary-alt: #ff8a00;
  --hi-gradient: linear-gradient(135deg, var(--hi-primary), var(--hi-primary-alt));
  --hi-scrollbar-thumb: #e1e1e1;

  --hi-color-white: #ffffff;
  --hi-color-black: #000000;

  --hi-spacing-xs: 3px;
  --hi-spacing-sm: 5px;
  --hi-spacing-md: 10px;
  --hi-spacing-lg: 20px;
  --hi-spacing-xl: 25px;

  --hi-radius-xs: 3px;
  --hi-radius-sm: 5px;
  --hi-radius-md: 7px;
  --hi-radius-lg: 10px;
  --hi-radius-xl: 15px;
}

* {
  box-sizing: border-box;
}

html {
  height: auto;
}

body {
  font-family: 'Outfit', sans-serif;
  color: var(--hi-text);
  background-color: var(--checkout-background, #f5f3ef) !important;
  height: auto;
  letter-spacing: 0;
}

h1, h2, h3 {
  letter-spacing: 0;
}

fieldset {
  border: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--hi-link-color);
}

// Mantine overrides
.mantine-InputWrapper-root, .mantine-Switch-root {
  margin-bottom: var(--hi-spacing-lg);
}

.mantine-ScrollArea-viewport {
  padding-bottom: 0 !important;
}

.mantine-Modal-content {
  @include mixins.scrollbar();
}

.mantine-SimpleGrid-root {
  .mantine-InputWrapper-root, .mantine-Switch-root {
    //margin-bottom: 0;
  }
}
